---
title: Writing
description: Patrick Doran writes
layout: layouts/base.njk
---

<div id="bodyContent">
<h3>Writing</h3>

<ul>  
{%- for writing in patrickwritings %}  
<li><a href={{ writing.title | slug }}>{{ writing.title }}</a><br></li>  
{% endfor -%}  
</ul>
</div>
<hr/>