<input 
  aria-hidden="true" 
  aria-label="Toggle main menu"
  type="checkbox" 
  id="menustate" />

<nav role="navigation" aria-label="main navigation">
  <label for="menustate" aria-hidden="true" title="Toggle the main navigation">
    <span class="open" aria-label="Open main menu">≡</span>
  </label>

  <ul>
    <li><a href="/">
      Home
    </a>
      <li><a href="/work" {{ 'class=active' if '/work' in page.url }}>
      Work
    </a>
    <li><a href="/about" {{ 'class=active' if '/about' in page.url }}>
      About
    </a>
  <li><a href="/history" {{ 'class=active' if '/history' in page.url }}>
      History
    </a>
  <li><a href="/writing" {{ 'class=active' if '/writing' in page.url }}>
      Writing
    </a>
     <li> <a href="/speaking" {{ 'class=active' if '/speaking' in page.url }}>
      Speaking
    </a>
    <li>
      <label for="menustate" aria-hidden="true" title="Toggle the main navigation">
        <em aria-label="Close main menu">×</em>
      </label>
    </li>
</ul>



</nav>
