<input 
  aria-hidden="true" 
  aria-label="Toggle main menu"
  type="checkbox" 
  id="menustate" />

<nav role="navigation" aria-label="main navigation">
  <label for="menustate" aria-hidden="true" title="Toggle the main navigation">
    <span class="open" aria-label="Open main menu">≡</span>
  </label>

  <ul>
    <li><a href="/">
      Home
    </a>
      <li><a href="/work">
      Work
    </a>
    <li><a href="/about">
      About
    </a>
  <li><a href="/history">
      History
    </a>
  <li><a href="/writing">
      Writing
    </a>
     <li> <a href="/speaking">
      Speaking
    </a>

    <li>
      <label for="menustate" aria-hidden="true" title="Toggle the main navigation">
        <em aria-label="Close main menu">×</em>
      </label>
      </li>
</ul>



</nav>
