---
pagination:
  data: patrickspeaking
  size: 1
permalink: 'speaking/{{ pagination.items[0].title | slugify}}/index.html'
layout: layouts/singlecolumn.njk
---

<h3>{{ pagination.items[0].title }}</h3>
<p>{{ pagination.items[0].link}}</p>