---
title: Patrick Doran is a developer and designer near Raleigh, North Carolina
description: Learn about Patrick Doran, a developer and designer near Raleigh, North Carolina.
layout: layouts/base.njk
---   



<div id="intro">
 
  <img src="assets/patrick_doran_header_photo.jpg" title="Photo of Patrick Doran. He's a web developer. In this photo he is wearing sunglasses and smiling" />
  
  <p>Hello, I'm <strong>Patrick Doran</strong>, a user experience designer <span>&amp;</span> developer from North Carolina.</p>
  
  <p>Since <time datetime='1998-01'><a target='_blank' href='assets/patrick_doran_work_history.jpg' title="Pepridge Farms remembers"><span>1998</span>&nbsp;&#x1F4BE;</a></time> I've designed and coded fast user interfaces, modern JavaScript applications, and obsessed about usability and performance. Today I'm focused on building with <em>Vue</em>, <em>React</em>, and <em>Tailwind</em> for the Microsoft 365/SharePoint platform.</p>

  <p>When I'm not busy <a href="/work">building interactive things</a>, I enjoy <a href="/writing">writing</a> and <a href="/speaking">talking shop</a>.

</div>

<hr/>


<h2>Specializing in</h2>
  <aside id="specializing">
    <dl>
      <dt>&#x1F6E0;&#xFE0F; Front-End Web Development  &#x1F6E0;&#xFE0F;</dt>
      <dd><abbr title="HyperText Markup Language">HTML</abbr></dd>
      <dd><abbr title="Cascading Style Sheets">CSS</abbr></dd>
      <dd>JavaScript</dd>
      <dd>Vue</dd>
      <dd>Tailwind</dd>
      <dd>React</dd>
      <dd>Node &amp; Express</dd>
      <dd>PHP</dd>
      <dd>Python</dd>
      <dd>Svelte </dd>
      <dd> <abbr title="Syntactically Awesome Style Sheets">SASS</abbr></dd>
      <dd>Git</dd>
      <dd>WordPress</dd>
      <dd>Eleventy</dd>
    </dl>
    <dl>
      <dt>&#x1F5A5;&#xFE0F; User Experience &amp; Design  &#x1F5A5;&#xFE0F;</dt>
      <dd>Prototyping</dd>
      <dd>Responsive design</dd>
      <dd>Photoshop</dd>
      <dd>Illustrator</dd>
      <dd>Figma</dd>
      <dd>Mockups</dd>
      <dd>XD</dd>
      <dd>Tableau</dd>
    </dl>
    <dl>
      <dt>&#x1F39B;&#xFE0F; Microsoft 365 &amp; SharePoint  &#x1F39B;&#xFE0F;</dt>
      <dd>SharePoint</dd>
      <dd>Power Automate</dd>
      <dd>#SPFX</dd>
      <dd>Azure</dd>
      <dd>Power BI</dd>
      <dd>Logic Apps</dd>
      <dd>Teams </dd>
      <dd>Nintex</dd>
      <dd>JSON Formatting</dd>
    </dl>
  </aside>
<hr/>

<!-- site.json -->
{# <h1 class="title">{{ site.title }}</h1>
<h2 class="subtitle">{{ site.description }}</h2> #}

<hr>

<hr>
<h2>Projects</h2>


<ul>  
  {% for work in projects %}  
  <li>{{ work.Title }}</li>  
  {% endfor %}  
</ul>



<hr>

    <h2>Writing</h2>

      {% for post in collections.post | reverse %}
        {% if loop.index0 < 3 %}
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  {{ post.data.title }}
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                  {{ post.data.description }}
                </div>
              </div>

                <a href="{{ post.url }}">Read article</a>

            </div>
          </div>
          {% endif %}
      {% endfor %}




<hr>
<h2>Speaking</h2>
<div>
{% for speak in collections.speak | reverse %}
        {% if loop.index0 < 3 %}
          <h3>{{ speak.data.title }}</h3>
              <p>{{ speak.data.description }}</p>
                <a href="{{ speak.url }}">Read speaking</a>
          {% endif %}
      {% endfor %}
</div>

<hr>
<h2>All generated content</h2>
<ul>
{%- for post in collections.all -%}
  <li><a href="{{ post.url }}">{{ post.url }}</a></li>
{%- endfor -%}
</ul>