---
permalink: '/api/patrickspeaking.json'
---
{# Makes the patrickspeaking.json file available in the buit /site folder #}
[
{%- for speaking in patrickspeaking %} 
  {
    "title": "{{ speaking.title }}",
    "link": "{{ speaking.link }}"
    "date": "{{ speaking.date }}",
    "postId": "{{ speaking.postId }}",    
    "content": "{{ speaking.content }}"
  }
{% endfor -%}  
]
