<h3>Recent Coding Examples</h3>
<details>
    <summary>Azure Cognitive Services handwriting recognition with JavaScript</summary>
    <blockquote>
        <p>A proof-of-concept - the web interface POSTs a document to Azure Cognative Services and returns the value of any handwritten text in it.</p>
        <p><em>Built with JavaScript, Axios JS, and Azure Cognative Services ML Handwriting Recognition.</em></p>
        <p>View complete code <a href="https://gist.github.com/PatD/abf44488a09f3447e04660a0a510047b" target="_blank" rel="noreferrer">on GitHub</a>.</p>
    </blockquote>
</details>
<details>
    <summary>Load SharePoint REST data with Axios, display with Tabulator.js </summary>
    <blockquote>
        <p>Solving a real-world business problem - user needs to select muliple SharePoint List Items, and pass those selections to another interface, to generate PDFs.</p>
        <p><em>Built with JavaScript, SharePoint REST web services, Axios.js, Tabulator.js and the browser's LocalStorage API.</em></p>
        <p>View complete code <a href="https://gist.github.com/PatD/dab385de8fcde42e612287569df11cd2" target="_blank" rel="noreferrer">on GitHub</a>.</p>
    </blockquote>
</details>
<details>
    <summary>Prevent survey re-takes with a cookie that expires after a day</summary>
    <blockquote>
        <p>JavaScript that checks for a cookie before a survey is taken, and writes one if there isn't one already.</p>
        <p>View complete code <a href="https://gist.github.com/PatD/75a58a0906b87ec6324ca473ce09ba2e" target="_blank" rel="noreferrer">on GitHub</a>.</p>
    </blockquote>
</details>
<details>
    <summary>JavaScript and SharePoint: Convert List Item to PDF</summary>
    <blockquote>
        <p>Reads a query string from a SharePoint URL, and then generates a PDF based off that data.</p>
        <p><em>Uses SharePoint On-Premise, Axios JS, and the pdfMake library.</em></p>
        <p>View complete code <a href="https://gist.github.com/PatD/634200e8f8153281ac7b3dfc426d17fb" target="_blank" rel="noreferrer">on GitHub</a>.</p>
    </blockquote>
</details>
<details>
    <summary>CSS for SharePoint UI upgrade</summary>
    <blockquote>
        <p>CSS styles to restyle the default SharePoint interface.</p>
        <p>View complete code <a href="https://gist.github.com/PatD/21e9e098ac02ee1af24b05448619576b" target="_blank" rel="noreferrer">on GitHub</a>.</p>
    </blockquote>
</details>
<details>
    <summary>SharePoint REST API and JavaScript: dynamic dropdowns</summary>
    <blockquote>
        <p>JavaScript to generate dropdown menus based on the values in a SharePoint list.</p>
        <p>View complete code <a href="https://gist.github.com/PatD/844b4dff0f2812b84227b3b371a577b7" target="_blank" rel="noreferrer">on GitHub</a>.</p>
    </blockquote>
</details>
<details>
    <summary>REST Web Services driven user interface with JavaScript and HTML</summary>
    <blockquote>
        <p>Based on the current date, creates dropdown menus that query a REST endpoint for dynamically generated PDF reports.</p>
        <p>View complete code on <a href="https://gist.github.com/PatD/75a58a0906b87ec6324ca473ce09ba2e" target="_blank" rel="noreferrer">On Github</a>.</p>
    </blockquote>
</details>
<hr />

