<!DOCTYPE html>
<html lang="en">
<head>
{# <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet"> #}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap" rel="stylesheet">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
  <meta property="og:title" content="Patrick Doran, Developer &amp; Designer" />
  <meta property="og:url" content="https://patrickdoran.com" />
  <meta property="og:description" content="Learn about Patrick Doran, a developer and designer near Raleigh, North Carolina." />
  <meta property="og:type" content="website" />
  {# <link rel="manifest" href="manifest.json" /> #}
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="Patrick Doran" />
  <meta name="apple-mobile-web-app-title" content="Patrick Doran" />
  <meta name="theme-color" content="#444" />
  <meta name="msapplication-navbutton-color" content="#444" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="msapplication-starturl" content="https://patrickdoran.com" />
  <link rel="icon" type="image/png" sizes="180x180" href="assets/apple-touch-icon-180x180.png" />
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="assets/apple-touch-icon-180x180.png" />
  <link rel="stylesheet" href="/css/patrickdoran.css" />
</head>
<body id="{{ layout | stripFilename }}" >
<div id="debug">
<div class="breakpointxs">XS</div>
<div class="breakpointsm">Sm</div>
<div class="breakpointmd">Md</div>
<div class="breakpointlg">Lg</div>
<div class="breakpointxl">XL</div>
<div class="breakpoint2xl">2xl</div>
</div>
    <header>
    {% include "header.njk" %}
    {% include "nav.njk" %}
    </header>
    <main>
      {{ content | safe }}
    </main>
    
    {# <em>Published on: <time datetime="{{ page.date }}">{{ page.date | postDate }}</time></em> #}
      <hr/>
    <footer>
      {% include "social.njk" %}
      {% include "backtop.njk" %}
      <p><em>Rolling trackballs just outside Raleigh, North Carolina. This is at least the 9th iteration of PatrickDoran.com, a site that's been online since 2004.</em></p>
      <p>The pages are static as heck and generated quickly with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>. Styled using <a href="https://tailwindcss.com/" target="_blank" rel="nofollow">Tailwind</a>, <a href="https://scrollbar.app/" target="_blank" rel="nofollow">Scrollbar.app</a>, &amp; <a href="https://www.svgbackgrounds.com" target="_blank" rel="nofollow">SVGBackgrounds.com</a>.</p>
    </footer>  
</body>
</html>