@tailwind base;
@tailwind components;
@tailwind utilities;



#debug{
    @apply bottom-5 right-5 absolute opacity-10
}
.breakpointxs{ @apply sm:hidden md:hidden lg:hidden xl:hidden 2xl:hidden}
.breakpointsm{ @apply sm:block md:hidden lg:hidden xl:hidden 2xl:hidden}
.breakpointmd{ @apply sm:hidden md:block lg:hidden xl:hidden 2xl:hidden }
.breakpointlg{ @apply sm:hidden md:hidden lg:block xl:hidden 2xl:hidden }
.breakpointxl{ @apply sm:hidden md:hidden lg:hidden xl:block 2xl:hidden }
.breakpoint2xl{ @apply sm:hidden md:hidden lg:hidden xl:hidden 2xl:block}



body {
    --sb-track-color: #075985;
    --sb-thumb-color: #afdcea;
    --sb-size: 11px;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size) 
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 15px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 15px;
    border: 1px solid #022d44;
}




html{
    scroll-behavior: smooth
}

html{
    /* @apply bg-sky-200 */
    @apply bg-gradient-to-bl to-sky-800 from-sky-900
}

body{
    @apply text-xl mx-auto p-5 text-white pt-5 
    md:max-w-6xl md:pt-28
}

#scrollToTop span{
    @apply sr-only
}

#scrollToTop{
    @apply hidden md:block text-slate-50 font-extrabold fixed bottom-5 left-10 w-24 mx-auto transition hover:-translate-y-2 opacity-60 hover:opacity-100
 }

main {
    @apply bg-transparent 
}

h1, h2, h3, h4, nav a, #specializing dt{
    font-family: 'Calistoga', 'Times New Roman', Times, serif;
}


h1, h2, h3 {
    text-shadow: 0px 5px 5px rgb(1, 22, 69);
}


h1{
    @apply font-bold text-5xl col-span-4 -mt-4 hover:text-sky-200
}

h2,h3{
    @apply font-bold text-4xl mb-8
}


h4,h5{
    @apply font-bold text-2xl mb-4 mt-12
}

hr{
    @apply border-b-4 border-sky-700
}

header{
    @apply mb-8 pb-6 pt-10 border-b-4 border-sky-700
           md:grid md:grid-flow-col md:grid-cols-12 
}



nav{
    @apply md:col-span-7 md:col-start-6 md:grid md:grid-flow-col
}

/* Hide the checkbox, menu and close button by default */
/* Hide the open button when the menu is open */
#menustate,
nav ul,
nav .close, 
#menustate:checked ~ nav .open {
    @apply hidden
}

nav ul{
    @apply md:block
}

/*
    Show the menu and close button when the menu is open
    (when the #menustate input field is checked)
*/
#menustate:checked ~ nav :is(ul, .close) {
    @apply block pt-32 bg-gradient-to-bl to-sky-900 from-sky-600 border-4 border-sky-700 
    absolute top-0 left-0 w-full bg-sky-500 h-full z-10

    md:bg-none md:h-auto md:z-auto
}


nav label span{
    @apply text-5xl absolute top-11 right-5
}

nav li label {
    @apply block text-3xl text-center not-italic mt-28
}



header nav a{
    @apply block py-2 col-span-1 text-center hover:underline decoration-dashed underline-offset-4 hover:bg-sky-800 hover:transition-opacity rounded-full
}

p a{
    @apply underline hover:text-sky-200 hover:underline decoration-dashed underline-offset-4 hover:bg-sky-800 hover:transition-opacity
}


menu{
    @apply fixed w-full bottom-0 left-0 right-0 py-6 px-3 grid grid-flow-col-dense gap-4 content-evenly
    bg-gradient-to-br to-sky-900 from-slate-900
    md:right-10 md:top-10 md:w-8 md:left-auto md:bottom-auto md:bg-none md:block
}

menu li{
    @apply md:mb-6 w-8 h-8
}

menu svg{
    fill:#fff;
    opacity: 0.5;
}

menu svg:hover{
    @apply opacity-75
}

menu span{
    @apply hidden
}


#intro mark{
    @apply bg-transparent
}

#intro p:first-of-type{
    @apply text-3xl pt-5
}
#intro p{
    @apply mb-6 text-xl
}

#intro img{
    @apply  rounded-full border-sky-200 border-8 w-40 h-40 mx-auto
            md:float-right md:ml-8
}

#intro time a{
    @apply no-underline
}

#intro time a span{
    @apply underline
}


#specializing{
    @apply pt-12 pb-4
    /* @apply pt-8 md:grid grid-flow-col grid-cols-3 gap-10 */
}

#specializing dl{
    @apply col-span-1 text-center mb-12
}

#specializing dt{
    @apply font-semibold text-center mb-3 text-lg
}

#specializing dd{
    @apply inline-block px-3 py-1 m-1 bg-sky-700 content-center rounded-lg
}



.timeline{
    @apply mb-10
}

.timeline h4{
    @apply mt-0
}

#cred {
    @apply grid grid-flow-row grid-cols-3 gap-5 mx-auto
}

#cred iframe{
    @apply bg-white rounded-lg
}

#iterations div{
    @apply w-3/4 mx-auto mb-20 odd:rotate-3 even:-rotate-3 even:text-right odd:text-left
}
#iterations em{
    @apply text-sky-300 not-italic block p-2 text-sm
}
#iterations img{
    @apply rounded-xl border-white border-4  
}


.articleLinks li {
    @apply my-12 leading-10
}

.articleLinks time{
    @apply font-mono text-sky-200 block text-sm leading-5
}

.articleLinks a{
    @apply text-sky-50 block underline-offset-4 underline hover:decoration-wavy hover:text-sky-200
}


footer{
    @apply mb-40 pt-5 text-center text-sky-200
}

footer p{
    @apply mb-8 text-lg
}


/* 


body{
    @apply text-xl mx-auto max-w-6xl p-5 text-white pt-28 bg-gradient-to-bl to-sky-800 from-sky-900
}

main {
    @apply bg-transparent 
}














#workList li{
    @apply py-10 border-b-4 border-sky-700
}


#workGrid ul {
    @apply grid grid-cols-4 gap-12
}

#workGrid li {
    @apply hover:no-underline underline transition 
}

#workGrid li a strong {
    @apply text-center block
}

#workGrid li a img {
    @apply rounded-t-lg
}

#singlecolumn main{
    @apply mx-auto w-2/3 mt-10 mb-20
}

#singlecolumn h3{
    @apply text-3xl mb-3 mt-8
}

#singlecolumn p{
    @apply mb-5 leading-7
}

#singlecolumn sup{
    @apply text-lg mb-10 block
}

#singlecolumn figure {
    @apply float-right block ml-5 mb-5
}

#singlecolumn figure img{
    @apply  rounded-full border-sky-200 border-8 w-56
}

#singlecolumn figure figcaption{
    @apply italic block text-center text-sm mt-2
}










 */