---
title: A little about Patrick Doran, front-end developer.
layout: layouts/singlecolumn.njk
---

<sup>Front-end developer, designer, and Microsoft 365 expert</sup>

<figure>
  <img loading="lazy" alt="photo of Patrick Doran where he's looking a little bored, if I'm behing honnest" src="/assets/patrick-doran-looking-too-serious.jpg" />
  <figcaption>Photo credit: Johnathan Phillips</figcaption>
</figure>


<p>I've been building well designed online and interactive experiences since 1998, and in that time I've seen a lot of things comes and go (Flash, Director, Freehand, MooTools, jQuery), but the important things always stick around.

<p>Important things like usability, performance, accessibility, and good design. I'm a firm believer in these principles, and while the technology stack changes with the seasons, the fundamentals are always there and have guided me in what I build.

<p>Professionally, I split my time between managing almost a dozen developers and designers, while at the same time continuing to ship for both the web and Microsoft 365 platforms.


<h3>About this site</h3>
<p>PatrickDoran.com has been live on the internet since 2002! That's <em>forever</em> in internet-years. PatrickDoran.com is usually in handcrafted HTML, but was for a short time built <em>unironically</em> with Flash. This particular iteration went live in 2023.</p>
<p>The CSS styles and layout are built on top of <a href='https://Tailwindcss.com' target='_blank' rel='noreferrer'>Tailwind.css</a> a very developer-friendly framework that looks great and loads fast. Go ahead and <a href="https://pagespeed.web.dev/report?url=https://patrickdoran.com/" target="_blank">run PageSpeed Insights</a> on it. I'll wait.
<p>This markup is a mix of Markup and <a href="https://mozilla.github.io/nunjucks/" target='_blank' rel='noreferrer'>Nunjucks</a>, which render out plain old HTML with Eleventy. No databases were built or harmed in the making of this website, and you can view it's guts on Github.
