---
title: Work and Projects
description: Learn about Patrick Doran, a developer and designer near Raleigh, North Carolina.
layout: layouts/singlecolumn.njk
---   

<ul id="workList">  
  {%- for work in patrickworks %}  
     <li>
          <h4>{{ work.Title }}</h4> 
          <img loading="lazy" alt="Screenshots from the {{ work.Title }} project" src=/assets/{{ work.Image }} />
          <p>Role: <em>{{ work.Role }}</em></p>
          <p>{{ work.Description }}</p>
          <p><a href={{ work.Repo }} title="View this code">Repo</a> | <a href={{ work.Link}}>Link</a></p>
      </li>
  {% endfor -%}  
</ul>
