@tailwind base;
@tailwind components;
@tailwind utilities;


#debug{
    @apply bottom-5 right-5 absolute opacity-10
}
.breakpointxs{ @apply sm:hidden md:hidden lg:hidden xl:hidden 2xl:hidden}
.breakpointsm{ @apply sm:block md:hidden lg:hidden xl:hidden 2xl:hidden}
.breakpointmd{ @apply sm:hidden md:block lg:hidden xl:hidden 2xl:hidden }
.breakpointlg{ @apply sm:hidden md:hidden lg:block xl:hidden 2xl:hidden }
.breakpointxl{ @apply sm:hidden md:hidden lg:hidden xl:block 2xl:hidden }
.breakpoint2xl{ @apply sm:hidden md:hidden lg:hidden xl:hidden 2xl:block}




html{
    scroll-behavior: smooth
}

body{
    @apply text-xl mx-auto max-w-md md:max-w-6xl p-5 text-white pt-6 md:pt-28 bg-gradient-to-bl to-sky-800 from-sky-900
}

#scrollToTop span{
    @apply sr-only
}

#scrollToTop{
    @apply text-slate-50 font-extrabold fixed block bottom-5 left-10 w-24 mx-auto transition hover:-translate-y-2 opacity-60 hover:opacity-100
 }

main {
    @apply bg-transparent 
}

h1, h2, h3, h4, nav a{
    font-family: 'Calistoga', 'Times New Roman', Times, serif;
    text-shadow: 0px 5px 5px rgb(1, 22, 69);
}

h1{
    @apply font-bold text-5xl
}

h2,h3{
    @apply font-bold text-4xl mb-8
}

h4,h5{
    @apply font-bold text-2xl mb-4 mt-12
}
/* 
footer{
    @apply mb-20
}

html{
    
}

#scrollToTop{
   @apply text-slate-50 font-extrabold fixed block bottom-5 left-10 w-24 mx-auto transition hover:-translate-y-2 opacity-60 hover:opacity-100
}

#scrollToTop span{
    @apply sr-only
}

body{
    @apply text-xl mx-auto max-w-6xl p-5 text-white pt-28 bg-gradient-to-bl to-sky-800 from-sky-900
}

main {
    @apply bg-transparent 
}

header{
    @apply mb-8 pb-6 grid grid-flow-col grid-cols-12 border-b-4 border-sky-700
}

hr{
    @apply border-b-4 border-sky-700
}

header h1{
    @apply col-span-4 -mt-4
}


h1,h2{
    text-shadow: 0px 5px 5px rgb(1, 22, 69);
}

h1 a{
    @apply hover:text-sky-200
}

header nav{
    @apply col-span-7 col-start-6 grid grid-flow-col
}


header nav a{
    @apply block py-2 col-span-1 text-center hover:underline decoration-dashed underline-offset-4 hover:bg-sky-800 hover:transition-opacity rounded-full
}


hr{
    @apply bg-sky-600 my-6
}

menu{
    @apply fixed w-8 top-10 right-10
}

menu li{
    @apply mb-6
}

menu svg{
    fill:#fff;
    opacity: 0.5;
}

menu svg:hover{
    @apply opacity-75
}

menu span{
    @apply hidden
}

h1, h2, h3, h4, nav a{
    font-family: 'Calistoga', cursive;
}

h1{
    @apply font-bold text-5xl
}

h2,h3{
    @apply font-bold text-4xl mb-8
}

h4,h5{
    @apply font-bold text-2xl mb-4 mt-12
}

p a{
    @apply underline hover:text-sky-200
}

#intro mark{
    @apply bg-transparent
}

#intro mark{
    text-shadow:0px 0px 5px #011019;
}

#intro p:first-of-type{
    @apply text-3xl
}
#intro p{
    @apply mb-6 text-xl
}

#intro img{
    @apply float-right rounded-full border-sky-200 border-8 w-40 h-40 ml-8
}

#intro time a{
    @apply no-underline
}

#intro time a span{
    @apply underline
}

#specializing{
    @apply grid grid-flow-col grid-cols-3 gap-10
}

#specializing dl{
    @apply col-span-1 text-center
}

#specializing dt{
    @apply font-semibold text-center mb-3 text-lg
}

#specializing dd{
    @apply  inline-block px-3 py-1 m-1 bg-sky-700 content-center rounded-lg
}

#workList li{
    @apply py-10 border-b-4 border-sky-700
}


#workGrid ul {
    @apply grid grid-cols-4 gap-12
}

#workGrid li {
    @apply hover:no-underline underline transition 
}

#workGrid li a strong {
    @apply text-center block
}

#workGrid li a img {
    @apply rounded-t-lg
}

#singlecolumn main{
    @apply mx-auto w-2/3 mt-10 mb-20
}

#singlecolumn h3{
    @apply text-3xl mb-3 mt-8
}

#singlecolumn p{
    @apply mb-5 leading-7
}

#singlecolumn sup{
    @apply text-lg mb-10 block
}

#singlecolumn figure {
    @apply float-right block ml-5 mb-5
}

#singlecolumn figure img{
    @apply  rounded-full border-sky-200 border-8 w-56
}

#singlecolumn figure figcaption{
    @apply italic block text-center text-sm mt-2
}


#cred {
    @apply grid grid-flow-row grid-cols-3 gap-5 mx-auto
}

#cred iframe{
    @apply bg-white rounded-lg
}

#iterations div{
    @apply w-3/4 mx-auto mb-20 odd:rotate-3 even:-rotate-3 even:text-right odd:text-left
}
#iterations em{
    @apply text-sky-300 not-italic block p-2 text-sm
}
#iterations img{
    @apply rounded-xl border-white border-4  
}


.articleLinks li {
    @apply my-12 leading-10
}

.articleLinks time{
    @apply font-mono text-sky-200 block text-sm leading-5
}

.articleLinks a{
    @apply text-sky-50 block underline-offset-4 underline hover:decoration-wavy hover:text-sky-200
}


.timeline{
    @apply mb-10
}

.timeline h4{
    @apply mt-0
} */