---
title: Work History
description: Learn about Patrick Doran, a developer and designer near Raleigh, North Carolina.
layout: layouts/singlecolumn.njk
---   

<ul>  
  {%- for work in patrickworks %}  
  <li><a href={{ work.Title | slug }}>{{ work.Title }}</a><br></li>  
  {% endfor -%}  
</ul>
