---
pagination:
  data: patrickworks
  size: 1
permalink: 'work/{{ pagination.items[0].Title | slugify}}/index.html'
layout: layouts/singlecolumn.njk
---

<h3>{{ pagination.items[0].Title }}</h3>
<p>{{ pagination.items[0].Description}}</p>