---
title: Patrick Doran is a developer and designer near Raleigh, North Carolina
description: Learn about Patrick Doran, a developer and designer near Raleigh, North Carolina.
layout: layouts/homepage.njk
---   


<div id="intro">
 
  <picture>
    <source type="image/webp" src="assets/patrick_doran_header_photo.webp">
    <source type="image/jpeg" srcset="assets/patrick_doran_header_photo.jpg">
    <img src="assets/patrick_doran_header_photo.jpg" title="Photo of Patrick Doran. He's a web developer and designer. In this photo he is wearing glasses and smiling. Photo credit to my selfie-length arm." />
  </picture>
  
  <p>
    <span role="img" aria-label="the Vulcan hello">🖖</span> Hello, I'm <strong>Patrick Doran</strong>, a user experience designer <span>&amp;</span> developer from North Carolina.</p>
  
  <p>Since <time datetime='1998-01'><a target='_blank' href='assets/patrick_doran_work_history.jpg' title="Pepridge Farms remembers"><span>1998</span>&nbsp;<mark>&#x1F4BE;</mark></a></time> I've designed and coded fast user interfaces, modern JavaScript applications, and obsessed about usability and performance. Today I'm focused on building with <em>Vue</em>, <em>React</em>, and <em>Tailwind</em> for the Microsoft 365/SharePoint platform.</p>

  <p>When I'm not busy <a href="/work">building interactive things</a>, I enjoy <a href="/writing">writing</a> and <a href="/speaking">talking shop</a>.</p>
  
  <p>Link in <a href="/about" title="Learn more about Patrick">bio</a>.</p>

</div>

<hr/>


<h2>Expertise in</h2>
  <aside>
    <dl>
      <dt>&#x1F6E0;&#xFE0F; Front-End Web Development  &#x1F6E0;&#xFE0F;</dt>
      {% for skill in site.skillsFrontEnd %} 
        <dd>{{skill}}</dd>
      {% endfor %}  
    </dl>
    <dl>
      <dt>&#x1F5A5;&#xFE0F; User Experience &amp; Design  &#x1F5A5;&#xFE0F;</dt>
      {% for skill in site.skillsUX %} 
        <dd>{{skill}}</dd>
      {% endfor %}  
    </dl>
    <dl>
      <dt>&#x1F39B;&#xFE0F; Microsoft 365 &amp; SharePoint  &#x1F39B;&#xFE0F;</dt>
      {% for skill in site.skillsM365 %} 
        <dd>{{skill}}</dd>
      {% endfor %}  
    </dl>
  </aside>


{# 
<h2>Recent work</h2>
<div id="homeWork">
  <ul>  
    {% for work in patrickworks %}  
    <li>
        <a href=/work/{{ work.Title | slug }} title="">
          <img loading="lazy" src=/assets/{{ work.Image }} />
          <strong>{{ work.Title }}</strong>
        </a>
      </li>  
    {% endfor %}  
  </ul>
  <a href="/work">View all work</a>
</div>

<hr>

<h2>Writing</h2>

  <ul>  
  {%- for writing in patrickwritings %}  
  <li><a href=/writing/{{ writing.title | slug }}>{{ writing.title }}</a><br></li>  
  {% endfor -%}  
  </ul>




<hr>
<h2>Speaking out loud</h2>
<div>
  <ul>  
  {%- for speaking in patrickspeaking %}  
  <li><a href=/speaking/{{ speaking.title | slug }}>{{ speaking.title }}</a><br></li>  
  {% endfor -%}  
  </ul>
</div> #}


{# <h2>All generated content</h2>
<ul>
{%- for post in collections.all -%}
  <li><a href="{{ post.url }}">{{ post.url }}</a></li>
{%- endfor -%}
</ul> #}